/* Style the navigation bar */

/* Align navigation content horizontally, add space between left and right naviigation */
#navigation{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
#right{
    display: flex;
    margin-top: 10px;
}
/* Remove anchor tag default style */
#right a{
    margin: 10px;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
   
}

/* Align heading in center and make its fonts size bigger */
#heading-div{
    margin-left: 30vw;
    width: 40vw;
    /* border: 1px solid black; */
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
}

/* Align super-div content in center and adjust its width */
#super-div{
    width: 40vw;
    margin-left: 30vw;
    margin-top: 30px;
    
}
/* Align list item horizontally and add botom margin */
.details{
    display: flex;    margin-bottom: 20px;
}

/* adjust left list item (which contain image) height width, margins and border */
.left-list {
    width: 50%; height: 300px; border: 1px solid black;
    margin-right: 10% ;
    border-radius: 20px;
 
}
.left-list img{
    width: 100%; height: 100%; border-radius: 20px;
}

/* Adjust p tag in right side of list , add its font and margins */
.right-list p{
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
     margin-top: 100px;
     margin-bottom: 10px;
}

/* Adjust button color , background color and font size  */
.right-list button{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
  
}

/*  To make page responsive make some changes when width become less than 800px */
@media(max-width:800px){
    .details{
           display: block;
    }
    .left-list{
        width: 80%;
        margin-left: 10%;
    }
    .right-list p{
        width: 40%;
        margin-left: 30%;
        margin-top: 10px;
    }
    .right-list button{
        width: 60%;
        margin-left: 20%;
    }
}